html,
/* body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

canvas {
  display: block;
}

.hidden {
  display: none;
}

.coins {
  position: fixed; /* Ensure it stays in view */
  bottom: 10px; /* Adjust as needed */
  left: 10px; /* Adjust as needed */
  background-color: rgba(125, 125, 125, 0.8); /* Optional: Add background for better visibility */
  padding: 5px; /* Optional: Add padding for better appearance */
  border-radius: 5px; /* Optional: Add border radius for better appearance */
  z-index: 1000; /* Ensure it is above other elements */
}

.spinner {
  border: 8px solid #ddd;
  border-top: 8px solid blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  animation: spin 1s linear infinite;

  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}